In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [145]:
gdp_df = pd.read_csv("../../data/gdp_percapita.csv", header=5)  

gdp_df.columns = ["Country", "Year", "GDP_Per_Capita", "Other"]  

gdp_df = gdp_df.drop("Something_Else", axis=1, errors="ignore")  

gdp_df["Year"] = pd.to_numeric(gdp_df["Year"], errors="ignore")  

gdp_df["GDP_Per_Capita"] = gdp_df["GDP_Per_Capita"].astype(float)  

print(gdp_df.info)  
print(gdp_df.head(2))  
print(gdp_df.tail(8))

<bound method DataFrame.info of           Country  Year  GDP_Per_Capita  Other
0     Afghanistan  2018     2902.392113    NaN
1     Afghanistan  2017     2952.998916    NaN
2     Afghanistan  2016     2958.785399    NaN
3     Afghanistan  2015     2967.692067    NaN
4     Afghanistan  2014     3017.942544    NaN
...           ...   ...             ...    ...
8209     Zimbabwe  1994     3965.730986    NaN
8210     Zimbabwe  1993     3634.750494    NaN
8211     Zimbabwe  1992     3649.891947    NaN
8212     Zimbabwe  1991     4126.405247    NaN
8213     Zimbabwe  1990     4013.299059    NaN

[8214 rows x 4 columns]>
       Country  Year  GDP_Per_Capita  Other
0  Afghanistan  2018     2902.392113    NaN
1  Afghanistan  2017     2952.998916    NaN
       Country  Year  GDP_Per_Capita  Other
8206  Zimbabwe  1997     4304.406272    NaN
8207  Zimbabwe  1996     4271.479930    NaN
8208  Zimbabwe  1995     3935.280057    NaN
8209  Zimbabwe  1994     3965.730986    NaN
8210  Zimbabwe  1993     3634.750494    NaN
8211  Zimbabwe  1992     3649.891947    NaN
8212  Zimbabwe  1991     4126.405247    NaN
8213  Zimbabwe  1990     4013.299059    NaN

C:\Users\madis\AppData\Local\Temp\ipykernel_11768\3059160294.py:7: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  gdp_df["Year"] = pd.to_numeric(gdp_df["Year"], errors="ignore")

In [85]:
print(gdp_df.shape)

(8214, 3)

In [87]:
print(gdp_df.dtypes)

Country            object
Year                int64
GDP_Per_Capita    float64
dtype: object

In [89]:
counts = gdp_df["Country"].value_counts(dropna=False)  

print(counts.head(10))  
print(counts.tail(3))  
print("total unique:", len(set(gdp_df["Country"])))

Country
Latvia           34
North America    34
Mongolia         34
Morocco          34
Mozambique       34
Myanmar          34
Namibia          34
Nauru            34
Nepal            34
Netherlands      34
Name: count, dtype: int64
Country
Sint Maarten (Dutch part)    15
Turks and Caicos Islands     13
Djibouti                     11
Name: count, dtype: int64
total unique: 247

In [149]:
data_check = gdp_df.groupby("Country")["Year"].count  

data_check = data_check.sort_values(ascending=True)  

print(data_check[:15])  
print(data_check[-5:])  
print("Total entries:", len(data_check))

AttributeError: 'function' object has no attribute 'sort_values'

In [147]:
gdp_2020 = gdp_df[gdp_df["Year"] == 2020]  

print(gdp_2020.head(7))

                         Country  Year  GDP_Per_Capita  Other
22   Africa Eastern and Southern  2020     3861.111238    NaN
56    Africa Western and Central  2020     4622.731427    NaN
90                       Albania  2020    14650.395929    NaN
124                      Algeria  2020    14194.155748    NaN
158                      Andorra  2020    55488.490299    NaN
192                       Angola  2020     7556.967928    NaN
226          Antigua and Barbuda  2020    23915.161984    NaN

In [141]:
median_value = gdp_2020["GDP_Per_Capita"].median()  

print("median vale = ", median_value)

median vale =  15309.23598817024

In [139]:
gdp_100k = gdp_df[gdp_df["GDP_Per_Capita"] > 100000]

first_100k_country = gdp_100k.iloc[0]["Country"]

print("country", first_100k_country)  
print("first country:", first_100k_country)

country Bermuda
first country: Bermuda

In [143]:
gdp_2020_sorted = gdp_2020.sort_values("GDP_Per_Capita", ascending=False)

highest_gdp_country = gdp_2020_sorted.iloc[0]["Country"]

print("country", highest_gdp_country)
print("Highest GDP country: ", highest_gdp_country)

country Luxembourg
Highest GDP country:  Luxembourg

In [105]:
gdp_2020_sorted_low = gdp_2020.sort_values("GDP_Per_Capita", ascending=True)

lowest_gdp_country = gdp_2020_sorted_low.iloc[0]["Country"]

print("Country", lowest_gdp_country)
print("Lowest GDP country:", lowest_gdp_country)

Country Burundi
Lowest GDP country: Burundi

In [107]:
internet_df = pd.read_csv("../../data/internet_use.csv", header=None)

print(internet_df.head())

print(internet_df.tail())

print(internet_df.dtypes)

internet_df = pd.read_csv("../../data/internet_use.csv", sep=";", header=None)

print(internet_df.head())

ParserError: Error tokenizing data. C error: Expected 4 fields in line 6378, saw 6

In [117]:
internet_df = pd.read_csv("../../data/internet_use.csv", header=None, on_bad_lines =  'skip', delimiter = ",")   

print(internet_df.head() ) 

print(internet_df.tail())  

print(internet_df.dtypes )   

print(internet_df.dtypes )   
print( internet_df.head( )   )

                 0     1      2                3
0  Country or Area  Year  Value  Value Footnotes
1      Afghanistan  2019   17.6                1
2      Afghanistan  2018   16.8                2
3      Afghanistan  2017   13.5                3
4      Afghanistan  2016     11                4
        0                                                  1    2    3
6376  293  Estimated based on Survey's results. Populatio...  NaN  NaN
6377  294                     Preliminary. Country estimate.  NaN  NaN
6378  295                                 18+. ITU estimate.  NaN  NaN
6379  296                     ICT survey. Population age 11+  NaN  NaN
6380  297  Internet users aged 3 years and above who used...  NaN  NaN
0    object
1    object
2    object
3    object
dtype: object
0    object
1    object
2    object
3    object
dtype: object
                 0     1      2                3
0  Country or Area  Year  Value  Value Footnotes
1      Afghanistan  2019   17.6                1
2      Afghanistan  2018   16.8                2
3      Afghanistan  2017   13.5                3
4      Afghanistan  2016     11                4

In [132]:
internet_df = internet_df.drop(["Value Footnotes"],axis=1,errors='ignore')

internet_df.columns = ['Country', 'Year', 'Internet Users Percent', 'Other'] 

internet_df.columns = [i.strip() for i in internet_df.columns] 

print(internet_df.head(   )  )

           Country  Year Internet Users Percent            Other
0  Country or Area  Year                  Value  Value Footnotes
1      Afghanistan  2019                   17.6                1
2      Afghanistan  2018                   16.8                2
3      Afghanistan  2017                   13.5                3
4      Afghanistan  2016                     11                4